* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #020617;
  color: #f8fafc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.title {
  color: #22c55e;
  text-shadow: 0 0 10px #22c55e;
}

.subtitle {
  color: #3b82f6;
  margin-bottom: 20px;
}

.progress {
  width: 100%;
  height: 10px;
  background: #0f172a;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #22c55e, #3b82f6);
  transition: width 0.3s ease;
}

.quiz-card {
  background: #0f172a;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(34,197,94,0.3);
}

#question {
  margin-bottom: 20px;
}

.options button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: transparent;
  border: 2px solid #3b82f6;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.options button:hover {
  background: #3b82f6;
  box-shadow: 0 0 10px #3b82f6;
}

.options button.selected {
  background: #22c55e;
  box-shadow: 0 0 10px #22c55e;
}

#nextBtn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.6;
}

#nextBtn:enabled {
  opacity: 1;
}